@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');    
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Rakkas&display=swap');

:root{
    --cabecera: #002e5de5;
    --colorsection: rgb(236, 236, 229);
    --colorcontainer: rgb(230, 232, 235);
    --colorBoton: rgb(176, 174, 174);
    --colornav: #a1b5ca;
    --colorph: #A16E2B;
    --border-container: 1px solid var(--colorsection);
    --colorparrafo: #000;
    --parrafo-hover: #fff;
    --backgroundFooter: linear-gradient(to bottom,  var(--colorsection) 10%,  #9fa1a2 50%, #8a8a8a 100%);
    --colorlabel: #000;
    --colorloader: #003366;
    --imagemode: url(../img/light.png);
    --iconosearch: url(../img/search.png);
    --iconosearchH: url(../img/lupa_blanca.png);
    --borderRadius: 3px;
    --filterFooter: invert(20%);
    --filterFooterHover: invert(0%)
    --colorScroll: #d9d9d9;
    --scrollBar:#a1a1a1;
    --font-fTittles: 'rakkas';
    --colorInput: #cdcdcdfc;


}
.dark-mode{
    --cabecera: #002e5d;
    --colorsection: #333; 
    --colorcontainer: #444444; 
    --colorBoton: rgb(120, 120, 120);
    --colornav: #445; 
    --colorph: #B8860B; 
    --border-container: 1px solid var(--colorsection);
    --colorparrafo: #e1e1e1; 
    --parrafo-hover: #000;  
    --backgroundFooter: linear-gradient(to bottom,  #333 10%,  #444444 50%, #4c4c4c 100%);
    --colorlabel: #fff;
    --colorloader: #A16E2B;
    --imagemode: url(../img/darkmode.png);
    --iconosearch: url(../img/lupa_blanca.png);
    --iconosearchH: url(../img/search.png);
    --borderRadius: 3px;
    --filterFooter: invert(75%);
    --filterFooterHover: invert(100%);
    --colorScroll: #252525;
    --scrollBar: #535252;
    --font-fTittles: 'rakkas';
    --colorInput: #717171fc;


}

body{
    margin: 0;
    overflow-x: hidden;
    background-color: var(--colorsection);
}

input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0; /* Eliminar margen para que las flechas no ocupen espacio */
}

input[type="password"]::-ms-reveal, /* Para Edge y otros navegadores basados en Chromium */
input[type="password"]::-webkit-textfield-decoration-container, /* Para Chrome y otros navegadores webkit */
input[type="password"]::-webkit-inner-spin-button, /* Para otros navegadores */
input[type="password"]::-webkit-textfield-decoration-container-show-hide-button {
    display: none;
}

::-webkit-scrollbar {
    width: 8px; /* Ancho del scrollbar */
}

::-webkit-scrollbar-track {
    background-color: var(--colorScroll);
    border-radius: 5px;

}

::-webkit-scrollbar-thumb {
    background-color: var(--scrollBar); /* Cambia el color de fondo de la barra */
    border-radius: 5px; /* Agrega bordes redondeados */
}

p{
    font-family: 'noto serif';
    font-size: 15px;
    color: var(--colorparrafo);
}
/*------Loader-------*/

.loader{
    background: var(--colorcontainer);
    display: flex;
    height: 100%;
    width: 100%;
    align-items: center;
    justify-content: center;
    position: absolute;
    z-index: 1001;
    animation: loader 0.5s linear forwards;
}

  @keyframes loader{
    0%{
        opacity: 1;
        visibility: visible;
    }
    95%{
        opacity: 1;
        visibility: visible;
    }
    100%{
        opacity: 0;
        visibility: hidden;
    }
}

.loader div {
    --d:40px;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    color: var(--colorloader);
    box-shadow: 
      calc(1*var(--d))      calc(0*var(--d))     0 0,
      calc(0.707*var(--d))  calc(0.707*var(--d)) 0 1px,
      calc(0*var(--d))      calc(1*var(--d))     0 2px,
      calc(-0.707*var(--d)) calc(0.707*var(--d)) 0 3px,
      calc(-1*var(--d))     calc(0*var(--d))     0 4px,
      calc(-0.707*var(--d)) calc(-0.707*var(--d))0 5px,
      calc(0*var(--d))      calc(-1*var(--d))    0 6px;
    animation: l27 0.5s infinite steps(8);
  }
  @keyframes l27 {
    100% {transform: rotate(1turn)}
  }


/*------Header-------*/

header{
    position: relative;
    display: flex;
    text-align: center;
    background-color: var(--cabecera);
    height: 100px; 
    justify-content: space-between; 
    align-items: center; 
    width: 100%;
    z-index: 1000;
}

header .divheader div:nth-child(1){
    position: relative;
    width: 25px;
    height: 25px;
    background-image: var(--imagemode);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    margin-right: 10px;
}

header .divheader div:nth-child(2){
    position: relative;
    width: 150px;
    height: 80px;

}

header .divheader{
    display: flex;
    justify-content: end;
    align-items: center;
    position: relative;
    width: 300px;
    height: 80px;
    margin-right: 15px;
    
}

header .divheader div img{
    position: absolute;
    transform: translate(50%, -50%);
    top: 50%;
    right: 50%;
    width: 60px;
    height: 60px; 
    margin-right: 0;
    filter: drop-shadow(5px 5px 5px rgba(0, 0, 0, 0.738));
}

header h1{
    display: flex;
    align-items: center;
    margin-left: 0;
    padding-left: 20px;
    font-size: 45px;
    font-weight: 400;
    font-family: "Rakkas";
    height: 100%;
    border-left: 7px var(--colorph) solid;
}

h1, h2, h3, h4{
    color: var(--colorph);
    text-align: center;
    margin: 0;
    font-family: var(--font-fTittles);
}

h3{
    font-size: 30px;
}

nav{
    /* display: flex; */
    width: 100%;
    height: 40px;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: var(--colornav);
    margin: 0;
    position: relative;
    color: var(--colorparrafo);

}
nav:hover{
    background-color: #2a5d90e5;
    transition: 0.5s ease-in-out;
}
nav.fixed {
    position: fixed;
    top: 0;
    z-index: 1000; /* Para que esté por encima de otros elementos */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); 
    background-color: var(--colornav);
    height: 40px;
}

.fixed:hover{
    background-color: #3b6c9d;
    transition: 0.5s ease-in-out;
}

nav.fixed button{
    height: 40px;
}

nav button{
    background: none;
    height: 40px;
    width: 100px;
    margin: 0px;
    border: none;
    font-size: 14px;
    font-family: "Noto Serif";
    color: var(--colorparrafo);

}
nav button:hover{
    font-size: 16px;
    font-weight: bold;
    transition: 0.3s ease-out;
}

.botonselect{
    color: var(--colorph);
    font-weight: bold;
    font-size: 14px;
    border-top: 3px var(--colorph) solid;   
}

.cerrarS{
    height: 40px;
    width: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 0px;
    float: right;
}

.cerrarS img{
    height: 30px;
    width: 30px;
    transition: transform 1s ease;
    filter: var(--filterFooter);
}

.cerrarS img:hover{
    transform: scale(1.05);
    filter: var(--filterFooterHover);
}



section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center ;
    margin: 0;
    width: auto;
    height: auto;
    text-align: center;
    background-color: var(--colorsection);
}
.section2{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center ;
    margin: 0;
    width: auto;
    height: auto;
    text-align: center;
    background-color: var(--colorsection)
}

.section2 .container, section .containerpoli{
    display: flex;
    flex-direction: column;
    height: 300px;
    margin-top: 20px;

}



hr{
    width: 100%;
    margin: 0px;
}

.container, #container{
    display: flex;
    flex-direction: column;
    margin: 20px;
    border: var(--border-container);
    margin-top: 10px;
    width: 80%;
    height: auto;
    justify-content: center;
    align-items: center;
    background-color: var(--colorcontainer);
    border-radius: var(--borderRadius);
    padding: px;
    color: var(--colorparrafo);
    margin-bottom: 10px;
    text-align: center;
    box-shadow: 0 0 5px rgba(92, 90, 90, 0.3);

}

.container img{
    margin-bottom: -10px;
}

#iconosearch{
    width: 20px;
    height: 20px;
    background-image: var(--iconosearch);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    transition: background-image 1s ease;
}

#iconosearch:hover{
    background-image: var(--iconosearchH);
}
#divInputIndex{
    caret-color: var(--colorph);
    display: flex;
    justify-content: center;
    align-items: center;

}
label{
    color: var(--colorlabel);
}

.containerLog{
    width: 50%;
    padding: 30px 0 30px 0;
}

.containerForm{
    border: var(--border-container);
    margin-top: 10px;
    width: 50%;
    height: auto;
    justify-content: center;
    background-color: var(--colorcontainer);
    border-radius: var(--borderRadius);
    padding: 0;
    margin-bottom: 10px;
    display: flex;
    text-align: center;
    justify-content: center;
    box-shadow: 0 0 5px rgba(92, 90, 90, 0.3);

}

#tdImage{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    overflow: hidden;
    height: 80px;
}

form .divperfilregis{
    background-image: url(../img/camara.png);
    width: 50px;
    height: 50px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    opacity: 1;
}

.divperfilregis:hover{
    opacity: 0.7;
    transition: 0.2s ease-out;
}

#inputfoto{
    display: none;
}

#fotoResul{
    visibility: hidden;
    width: 50px;
    height: 50px;
}

.container p{
    margin-bottom: 10px;
    margin-top: 10px;
    height: 80%;
    width: 95%;
}

.containerpoli p{
    width: 95%;
}

.section2 .container p{
    display: flex;
    align-items: center;
}

.container h2, h2{
    display: flex;
    justify-content: center;
    font-size: 28px;
    align-items: center;
    height: 20%;
    text-align: center;
}

.container2{
    border: var(--border-container);
    margin-top: 20px;
    width: 70%;
    height: auto;
    padding: 10px 0;
    background-color: var(--colorcontainer);
    border-radius: var(--borderRadius);
    margin-bottom: 20px;
    margin-right: 20px;
    color: var(--colorparrafo);
    box-shadow: 0 0 5px rgba(92, 90, 90, 0.3);
}

table{
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0 20px 0;
}

th{
    height: 35px;
}
td{
    height: 35px;
    text-align: right;
    overflow: auto;
}

.container2 table td{
    /* background-color: var(--colornav); */
    padding-right: 5px;
}

.containerForm td{
    text-align: right;
}

.container2 table{
    width: 75%;
    /* border: var(--border-container); */
}

.containerForm input{
    margin: 10px;
    height: 20px;
    border-radius: 5px;
    background-color: var(--colorInput);
    color: var(--colorparrafo);
    width: 250px;
    padding-left: 6px;
    margin-right: 0;
    border: var(--border-container);
    caret-color: var(--colorph);
}

select{
    background-color: var(--colorInput);
    color: var(--colorparrafo);
    border: var(--border-container);
    caret-color: var(--colorph);
    width: 250px;
    height: 25px;
    border-radius: 5px;
}

select option{
    background-color: var(--colorInput);
    width: 250px;
    height: 20px;
    border-radius: 5px;
    border: none;
}

select option[disabled]{
    color: #aeaeae;
}

input[type="date"] {
    text-align: center;
  }

.inputLog{
    margin: 10px;
    width: 150px;
    height: 20px;
    border-radius: 5px;
    background-color: #c4c4c465;
    color: var(--colorparrafo);
    padding-left: 6px;
    margin-right: 0;
    border: var(--border-container);
    caret-color: var(--colorph);
}


#datosIncorrectos{
    text-align: center;
    width: 100%;
}
table td .pLog{
    height: 20px;
    margin: 0px;
}

.tablelog td{
    text-align: center;
}

#ButtonPass, #ButtonPassReg, #ButtonPassAct{
    width: 15px;
    height: 15px;
    filter: var(--filterFooter);
}

.tdDIncorrecto{
    height: auto;
}

.tdVer{
    display: flex;
    align-items: center;
}



.tablelog{
    width: 50%;
}

.botonLog{
    display: flex;
    justify-content: end;
}

#buttonLogin{
    width: 80px;
    height: 25px;
    background-color: var(--colorsection);
    border-radius: 5px;
    border: var(--border-container);
    transition: background-color 1s ease;
}

#buttonLogin:hover{
    background-color: var(--colorBoton);
}

.containerForm p{
    font-weight: bold;
}

.divregistro{
    width: 65%;
    height: auto;
}

.divregistro h3{
    margin-top: 20px;
}

.div_grande{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
    width: 80%;
    height: auto;
    justify-items: center;
    margin: 10px 0 10px 0;
}

.div_grande div{
    position: relative;
    width: 100%;
    height: 200px;
    margin: 0;
    padding:0;
    background-color: rgba(183, 184, 187, 0.337);
    border-radius: var(--borderRadius);
    text-align: justify;
    justify-content: center;
    overflow: hidden;
    border: var(--border-container);
}
.div_grande div .description_div{
    position: absolute;
    height: 40px;
    background-color: var(--colorcontainer);
    width: 100%;
    bottom: -20px;
    border-radius: 0;
    text-align: center;
    align-items: center;
    transition: transform 0.9s;
    border: none;
}

.div_grande div .flecha{
    width: 20px;
    height: 20px;
    position: absolute;
    margin: 0;
    border: none;
    background: none;
    bottom: 0%;
    left: 48%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    background-image: url(../img/desplegar.png);
    z-index: 1000;
    transition: transform 0.9s;
    filter: var(--filterFooterHover);
}

.div_grande div:hover .description_div{
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    transform: translateY(-20px);
    background-color: rgba(119, 119, 119, 0.692);
    transition: 0.9s ease-in-out;
    height: 40px;
    border-top: var(--border-container);
}

.div_grande div:hover .flecha{
    transform: translateY(-25px);
    transition: 0.9s ease-in-out;
    background-image: url(../img/plegar.png);

}

.div_grande div:hover .description_div p{
    color: #fff;
    font-weight: bold;
    transition: 1.5s ease;
}

.div_grande div .description_div p{
    color: #ffffff00;
    font-weight: bold;
}

.div_grande div img{
    position: absolute;
    width: 100%;
    height: 100%;
    margin: 0;
    
}
#mensajeIndex{
    color: red;
}

.div_news{
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 15px;
    width: 80%;
    height: auto;
    justify-items: center;
    margin: 10px 0 10px 0;
}

.div_news div{
    display: flex;
    position: relative;
    width: 100%;
    height: 300px;
    margin: 0;
    padding:0;
    background-color: var(--colorcontainer);
    border-radius: var(--borderRadius);
    text-align: justify;
    overflow: hidden;
    border: var(--border-container);
    box-shadow: 0 0 5px rgba(92, 90, 90, 0.3);


}

.div_news div .img_news{
    position: relative;
    width: 50%;
    height: 100%;
    margin: 0;
    padding: 0;
    border: none;
    border-radius: 0;
    transition: width 0.8s ease-out;
    border-right: var(--border-container);
    border-left: var(--border-container);
}

.div_news div .img_news img{
    position: absolute;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    top: 0;
    left: 0;

}

.div_news div .news_parrafo{
    position: relative;
    display: flex;
    flex-direction: column;
    background-color: var(--colorcontainer);
    padding: 0;
    text-align: center;
    align-items: center;
    justify-content: center;
    width: 50%;
    height: 95%;
    margin: 0;
    border: 0;
    transition: width 0.8s ease-out;
    box-shadow: none;

}

.div_news div .news_parrafo p{
    position: relative;
    bottom: 0;
    text-align: center;
    height: 100%;
    width: 97%;
    margin: 0;
    display: flex;
    overflow: hidden;
    flex-direction: row;

}

.div_news div .news_parrafo h4, h4{
    height: 10%;
    width: 97%;
    margin: 0;
}

.div_news div:hover .news_parrafo{
    width: 70%;
}

.div_news div:hover .img_news{
    width: 30%;
}

.div_news div:hover .news_parrafo p{
    overflow-y: auto;
}

form{
    display: flex;
    margin: 10px;
    text-align: center;
    justify-content: center;
}

form .buttonForm{
    border-radius: 4px;
    border: var(--border-container);
    background-color: rgba(88, 88, 70, 0.08);
    height: 30px;
    width: 90px;
    color: var(--colorparrafo);
    margin: 0 10px 0 10px;
    font-weight: bold;
    text-align: center;
}

.buttonForm:hover{
    transition: 1s ease;
    background-color: rgb(173, 173, 153);
    color: var(--colorcontainer);
}

#buscar{
    border-radius: 4px;
    margin: 10px;
    height: 25px;
    width: 170px;
    background-color: rgba(239, 234, 201, 0.197);
    padding-left: 5px;
    border: 1px #6a3a3a solid;
    border-bottom: var(--border-container);
    border-left: 0 solid;
    border-top: 0 solid;
    border-right: 0 solid;
    color: var(--colorparrafo);
}

aside{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 20%;
    height: auto;
    background-color: var(--colorcontainer);
    margin: 10px 0 10px 20px; 
    border-radius: var(--borderRadius); 
    border: var(--border-container);
    color: var(--colorparrafo);
    box-shadow: 0 0 5px rgba(92, 90, 90, 0.3);
}

aside table{
    margin-top: 20px;
    width: 80%;
}

aside table td{
    text-align: none;
}
.imgPerfil #fotoPerfil{
    position: absolute;
    width: 100%;
    height: 100%;
    margin: 0;
    left: 0;
    border-radius: 50%;
}

.imgPerfil:hover #plusPerfil{
    transition: ease-out 0.5s;
    opacity: 0.6; 
}
.imgPerfil:hover #fotoPerfil{
    transition: ease-out 0.5s;
    opacity: 0.7;
}

#plusPerfil{
    position: absolute;
    opacity: 0;
    width: 100%;
    height: 100%;
    margin: 0;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: opacity 0.1s ease-in;
}


.imgPerfil{
    position: relative;
    width: 110px;
    height: 120px;
    margin: 40px 10px 20px 10px;
    padding: 0;
    border-radius: 50%;

}

.containerPoster{
    margin-top: 15px;
    margin-bottom: 30px;
    width: 80%;
    display: grid;
    gap: 30px;
    background: none;
    grid-template-columns:repeat(3, 1fr);
    justify-items: center;
    align-content: center;
}

.containerPoster article .textoBoton button{
    background-color: #252c36b4;
    color: white;   
    border: #fff solid 1px ; 
    height: 30px;
    width: 120px;
    font-weight: bold;
    border-radius: 4px;
    margin-bottom: 5px;
}

article{
    position: relative;
    width: 100%;
    margin: 0;
    height: 200px;
    border: 2px #414243 solid;
    background-color: rgba(53, 73, 82, 0.292);
    border-radius: var(--borderRadius);
    padding: 0;
    text-align: justify;
    overflow: hidden;
    transition: filter 0.3s;
}

form img{
    width: 20px;
    height: 20px;
    margin: 0;
}

article:hover {
    transition: 0.3s ease-in-out;
    transform: scale(1.02);
}

article:hover .textoImg{
    transition: 0.3s ease-in-out;
    opacity: 1;
}

article img{
    position: absolute;
    width: 100%;
    height: 100%;
    margin: 0;
    filter: brightness(50%);
    transition: transform 0.3s ease-in-out;
}

article:hover img{
    transform: scale(1.2);
    transition: 0.7s ease-in;
    filter: brightness(100%);
}

article p{
    color: #fff
}

.textoImg{
    color: rgb(255, 255, 255);
    position: absolute;
    opacity: 0;
    transition: opacity 0.1s ease-in;
    text-align: center;
    width: 100%;
    background-color: rgba(57, 117, 180, 0.4);
    height: auto;
}

.textoBoton{
    color: rgb(255, 255, 255);
    position: absolute;
    opacity: 0;
    transition: opacity 0.1s ease-in;
    text-align: center;
    width: 100%;
    bottom: 0;
}

article:hover .textoBoton{
    transition: 0.7s ease-in;
    opacity: 1;
}

#botonperfil{
    background-color: var(--colorBoton);
    color: var(--colorparrafo);
    border: var(--border-container); 
    height: 25px;
    width: 100px;
    font-weight: bold;
    border-radius: 5px;
    transition: transform 0.2s ease-in-out;
}

#botonperfil:hover{
    transform: scale(1.05);
}

footer{
    display: flex;
    justify-content: space-evenly;
    margin: 40px 0 0 0;
    text-align: center;
    width: 100%;
    height: auto;
    background-image: var(--backgroundFooter);
    padding: 25px 0 35px 0;
}
footer p{
    margin: 0 0 10px 0;  
    color: var(--colorparrafo); 
    margin-top: 7px;
    margin-bottom: 3px;
    font-size: 14px;
}

footer .divf a p{
    margin: 0 0 10px 0;  
    color: var(--colorparrafo); 
    font-weight: bold;
    margin-top: 7px;
    margin-bottom: 3px;
    font-size: 14px;
}
footer p:nth-child(1){
    font-size: 18px;
    font-weight: bold;
}
footer a{
    text-decoration: none;
    font-weight: bold;
    color: var(--colorparrafo);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

footer .divf{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}

footer div:nth-child(3) .div_footer{
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    gap: 10px;
    margin-top: 10px;
}


footer .divf:nth-child(2){
    border-left: var(--border-container);
    border-right: var(--border-container);
}

footer img{
    width: 18px;
    height: 18px;
    margin: 0;
    transition: transform 0.5s ease;
    filter: var(--filterFooter);
}

footer img:hover{
    filter: var(--filterFooterHover);
    transform: scale(1.1);
}

footer input{
    width: 200px;
    border-radius: 0px;
    height: 20px;
    margin: 0;
    background: none;
    border: var(--border-container);
    padding-left: 5px;
    color: var(--colorparrafo);
    caret-color: var(--colorph);
}    

.redesFooter{
    display: flex;
    justify-content: space-evenly;
    width: 50%;
    margin-top: 30px;
}


  /*------------CSS para moviles------------*/
    @media screen and (max-width: 900px) {
    nav{
        width: 100%;
    }

    header{
        width: 100%;
        display: flex;
        height: 100px;
    }

    header .divheader div:nth-child(1){
        width: 20px;
        height: 20px;
        margin-right: 5px;
    }

    header .divheader div:nth-child(2){
        width: 80px;
        height: 60px;
        display: flex;
        align-items: center;

    }

    header .divheader{
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        width: 30%;
    }
    header .divheader div img{
        width: 60px;
        height: 60px;
        margin-right: 0px;
    }
    header h1{
        width: 60%;
        font-size: 25px;
        margin-left: 0;
        padding-left: 0px;
        border-left: 5px var(--colorph) solid;
    }

    nav button{
        width: auto;
        margin: 0px;
    }

    select{
        background-color: var(--colorInput);
        color: var(--colorparrafo);
        border: var(--border-container);
        caret-color: var(--colorph);
        width: 150px;
        height: 25px;
        border-radius: 5px;
    }
    
    select option{
        background-color: var(--colorInput);
        width: 150px;
        height: 20px;
        border-radius: 5px;
        border: none;
    }

    .div_grande div .description_div{
        position: absolute;
        height: 40px;
        background-color: var(--colorcontainer);
        width: 100%;
        bottom: -20px;
        text-align: center;
        align-items: center;
        transition: transform 0.9s;
        border: none;
    }

    .div_grande div:hover .description_div{
        transform: translateY(-20px);
        background-color: rgba(119, 119, 119, 0.642);
        transition: 0.9s ease-in-out;
        height: 40px;
        border-top: var(--border-container);
    }

    .div_grande div .description_div p{
        color: #00000000;
        font-weight: bold;
        border-radius:  0;
    }

    .div_news div:hover .news_parrafo{
        width: 100%;
    }
    
    .div_news div:hover .img_news{
        width: 0%;
    }
    
    .div_news div:hover .news_parrafo p{
        overflow: auto;
    }

    section{
        width: 100%;
    }

    .section2{
        width: 100%;
    }

    footer{
        width: 100%;
    }
    
    .div_grande{
        grid-template-columns: repeat(1, 1fr);
    }

    .section2 .container, section .container{
        height: auto;
    }

    section .container{
        width: 80%;
    }
    section .container2{
        width: 80%;
    }
    .section2{
        flex-direction: column;
    }
    .section2 .container2{
        margin-right: 0;

    }
    .section2 aside{
        width: 70%;
        margin-left: 0;
    }  

    .section2{
        justify-content: center;
    }

    section .containerForm{
        width: 95%;
        margin-left: 20px;
        margin-right: 20px;
    }

    section .containerForm input{
        width: 150px;
    }

    section .divregistro{
        width: 100%;
        margin: 0;
    }

    .redesFooter{
        display: flex;
        justify-content: space-evenly;
        width: 50%;
        margin-top: 10px;
    }

    footer{
        display: flex;
        flex-direction: column;
        gap: 30px;
    }

}

@media screen and (max-width: 700px) {
    .containerPoster {
        grid-template-columns: repeat(1, 1fr);
    }
}

@media screen and (min-width: 700px) and (max-width:1300px){
    .containerPoster {
        grid-template-columns: repeat(2, 1fr);
    }
    .section2 .container, section .container{
        height: auto;
    } 
    .containerLog{
        width: 50%;
    }

}


